<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Study Companion{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% if session.get("user_id") %}
    <nav class="navbar">
        <h3>Study Companion</h3>
        <a href="/dashboard">Dashboard</a>
        <a href="/upload">Upload</a>
        <a href="/logout">Logout</a>
    </nav>
    {% endif %}

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
